//Details of the web page
.border-top-gray{
border-top: 1px gray solid;
}

.border-gray{
border: 1px gray solid;
}

#loading-bar .bar {
background-color: #E0E02D;
height: 10px;
}

    
#loading-bar {
 // pointer-events: all;
  z-index: 99999;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
//   cursor: wait;
   position: fixed;
  background-color: #C2185B;
}

.icon-button{
  border-color: white;
  float: right;
}

.caught{
    background: url(../images/pokeball-red.png) center no-repeat; background-size: 100% 100%;
}

.notCaught{
  background: url(../images/pokeball.png) center no-repeat; background-size: 100% 100%;
}

.star{
    background: url(../images/star.png) center no-repeat; background-size: 100% 100%;
}

.sort{
    background: url(../images/sort.png) center no-repeat; background-size: 100% 100%;
}