//Fonts used inside the application

body {
  font-family: Helvetica;
}

.entry{
  font-size: 11px;
}

.font-black{
  color: #333333;
}

#bs-example-navbar-collapse-1 > ul > li > a{
  font-size: 20px;
}

.font-white{
  color:white !important;
}