$red: #E91E63;

.navbar{
  background-color: $red;
  color:white;
}

#bs-example-navbar-collapse-1 > ul > li > a{
    color:white;
}

.navbar-default .navbar-toggle .icon-bar{
background-color:white !important;
}  

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: $red;
}

//Animated X button
.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}