//Size of elements in web page

#left-arrow{
    width:30px;
}

.type1{
    width:70px;
}

.type2{
   width:70px; 
}

.icon{
    width: 20px;
}

.adjust-size{
    height: 85px;
    padding: 10px;
    width: 100px;
}