//Size of elements in web page

#left-arrow{
    width:30px;
}

.type1{
    width:70px;
}

.type2{
   width:70px; 
}

.type-main{
    width: 50px;
}

.icon{
    width: 20px;
}

.adjust-size{
    height: 85px;
    padding: 10px;
    width: 100px;
}

.searchBar{
    width: 95%;
}

.icon-button{
    height: 25px;
}

.navbar-nav{
    width: 100% !important;
}

